<header id="header">
<div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
        <div id="logo">
            <a href="index.html"><img src="img/LAA Logo [small].png" alt="Lytle Animal Allies" title="Lytle Animal Allies" /></a>
        </div>
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="dogs.html">Dogs</a></li>
                <li><a href="cats.html">Cats</a></li>
                <li><a href="volunteer.html">Volunteer</a></li>
                <li class="menu-has-children"><a href="">Blog</a>
                    <ul>
                        <li><a href="blog-home.html">Blog Home</a></li>
                        <li><a href="blog-single.html">Latest Blog</a></li>
                    </ul>
                </li>	
                <li><a href="contact.html">Contact</a></li>	
            </ul>
        </nav>		    	
    </div>
</div>
</header>