<section class="banner-area relative" id="home">
    <div class="container">
        <div class="overlay overlay-bg"></div>
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12">
                <h1 class="text-uppercase">
                    Adopt Us. <br>
                    We need your help.
                </h1>
                <!--
                <p class="text-white sub-head">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                </p>
                -->
                <!-- Add Link -->
                <a href="#" class="primary-btn header-btn text-uppercase">Find a pet to adopt</a>
            </div>	
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- owl-carousel-demo.ts -->
<app-owl-carousel-demo></app-owl-carousel-demo>
<!-- End image-carusel Area -->

<!-- search-pet.ts -->
<section class="callto-top-area section-gap">
    <div class="container">
        <div class="row justify-content-between callto-top-wrap pt-40 pb-40">
            <div class="col-lg-6 callto-top-left">
                <h1>Please select your favorite pet</h1>
            </div>
            <!-- Adoption form link needs CSS  for a new class and JS search via fetch() API by name  -->
            <div class="col-lg-2 callto-top">
                <form>
                    <input type="text" value="Spot">
                </form>
            </div>
            <div class="col-lg-4 callto-top-left">
                <a href="#" class="primary-btn">Find Your Favorite</a>
            </div>		
        </div>
    </div>	
</section>
<!-- End callto-top Area -->

<!-- home-about.ts -->
<section class="home-about-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 home-about-left no-padding">
                
                    <iframe href="https://www.youtube.com/embed/K9kKg4sd75k" height="300vh" width="800vw" ></iframe>

            </div>
            <div class="col-lg-6 home-about-right no-padding">
                <h1>Rescue Road Trips</h1>
                <h5>Rescue Dog Transport</h5>
                <p>A Low Cost Transport service for Rescue Dogs in the Deep South and an Ohio based rescue. We are a licensed USDA Class T Carrier, providing loving, humane road trips to homeless, unwanted and unloved dogs facing assured-immediate death from Southern Kill Shelters. We deliver to Loving "Forever Homes" in New England and surrounding areas.</p>
                <a href="https://rescueroadtrips.org/" class="primary-btn text-uppercase">get details</a>
            </div>
        </div>
    </div>	
</section>
<!-- End home-about Area -->

<!-- video-area.ts -->
<section class="video-area section-gap">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8">
                <div class="about-video-right justify-content-center align-items-center d-flex relative">
                    <div class="overlay overlay-bg"></div>
                    <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid mx-auto" src="animalshelter/img/play-btn.png" alt=""></a>
                </div>
                <div class="description">
                    <h4>Watch this video how they live here</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                </div>
            </div>
        </div>
    </div>	
</section>
<!-- End video Area -->
    
<!-- process-area.ts -->
<section class="process-area section-gap">
    <!-- The entire container's content needs to be updated -->
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Process to adopt a pet</h1>
                    <p>Finding the Right Recue Animal for You and Your Home.</p>
                </div>
            </div>
        </div>	
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-process">
                   <i class="fa fa-hand-o-up fa-3x" aria-hidden="true"></i>
                    <a href="#">
                        <h4>Pet Selection</h4>
                    </a>
                    <p>Do your research on breed characteristics, make sure you choose the right breed/mix for your household</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-process">
                    <i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i>

                    <a href="#">
                        <h4>Pet Meeting</h4>
                    </a>
                    <p>Choose an animal that comes to the front of the kennel and is excited to see you, interact with it outside the shelter environment, look for soft body language; avoid an animal that is very still and alert</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-process">
                    <i class="fa fa-file-text fa-3x" aria-hidden="true"></i>
                    <a href="#">
                        <h4>Filling out Forms</h4>
                    </a>
                    <p>Make sure you understand ALL of the requirements that you need to fulfill when adopting the animal, such as spay/neuter requirements, before signing the contract</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-process">
                    <i class="fa fa-home fa-3x" aria-hidden="true"></i>
                    <a href="#">
                        <h4>Taking Your Pet Home</h4>
                    </a>
                    <p>Before entering your pet's new home, it should meet any other animals outside of the house, also make sure it has available water, food, a bed and even a toy</p>
                </div>
            </div>
        </div>
    </div>	
</section>
<!-- End process Area -->


<!-- testomial.ts -->
 <!-- Need testimonials - Build Javascript pull from a database or form...
<section class="testomial-area section-gap" id="testimonail">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Testimonials from our guardians</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>		
        <div class="row">
            <div class="active-testimonial-carusel">
                <div class="single-testimonial item">
                    <img class="mx-auto" src="img/t1.png" alt="">
                    <p class="desc">Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory</p>
                    <h4>Mark Alviro Wiens</h4>
                    <p>CEO at Google</p>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<!-- End testomial Area -->

<!-- Start calltoaction Area -->
<section class="calltoaction-area section-gap relative">
    <div class="container">
        <div class="overlay overlay-bg"></div>
        <div class="row align-items-center justify-content-center">
            <h1 class="text-white">Want to help? Become a Volunteer</h1>
            <p class="text-white">As with many shelters, the Lytle Animal Control Facility is always in need of volunteers to support the operations of the facility. Animal Facility Volunteers perform a wide range of duties.</p>
            <div class="buttons d-flex flex-row">
                <!-- get pdf and link it to this button -->
                <a href="#" class="primary-btn text-uppercase">View pdf details</a>
                <!-- where does this form go??? -->
                <a href="#" class="primary-btn text-uppercase">Register now</a>
            </div>
        </div>
    </div>	
</section>
