<section class="image-carusel-area">
    <div class="container">
        <div class="row">
            <div class="active-image-carusel">
                <!-- Javascript to pull from PetFinder database API -->
                <div class="single-image-carusel">
                    <img class="img-fluid" src="../../../../assets/images/c1.jpg" alt="">
                </div>
                <div class="single-image-carusel">
                    <img class="img-fluid" src="../../../../assets/images/c2.jpg" alt="">
                </div>
                <div class="single-image-carusel">
                    <img class="img-fluid" src="../../../../assets/images/c3.jpg" alt="">
                </div>
                <div class="single-image-carusel">
                    <img class="img-fluid" src="../../../../assets/images/c4.jpg" alt="">
                </div>
                <div class="single-image-carusel">
                    <img class="img-fluid" src="../../../../assets/images/c1.jpg" alt="">
                </div>
                <div class="single-image-carusel">
                    <img class="img-fluid" src="../../../../assets/images/c2.jpg" alt="">
                </div>
                <div class="single-image-carusel">
                    <img class="img-fluid" src="../../../../assets/images/c3.jpg" alt="">
                </div>
                <div class="single-image-carusel">
                    <img class="img-fluid" src="../../../../assets/images/c4.jpg" alt="">
                </div>
                <div class="single-image-carusel">
                    <img class="img-fluid" src="../../../../assets/images/c1.jpg" alt="">
                </div>
                <div class="single-image-carusel">
                    <img class="img-fluid" src="../../../../assets/images/c2.jpg" alt="">
                </div>
                <div class="single-image-carusel">
                    <img class="img-fluid" src="../../../../assets/images/c3.jpg" alt="">
                </div>
                <div class="single-image-carusel">
                    <img class="img-fluid" src="../../../../assets/images/c4.jpg" alt="">
                </div>	
            </div>
        </div>
    </div>	
</section>
